@font-face {
  font-family: EgyptianEF-Extended-Bold;
  src: url(fonts/EgyptianEF-Extended-Bold.otf);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  padding: 0;
}

header,
section,
footer {
  width: 100%;
}

header {
  height: 500px;
  background: url(img/bg-5.jpg) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: soft-light;
  color: white;
}

.head__container1 {
  height: 10%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.head__delex {
  font-family: EgyptianEF-Extended-Bold;
  font-size: 1.5rem;
}

.head__burger {
  display: none;
}

.head__list {
  display: flex;
}

.head__list li {
  list-style: none;
  margin-left: 20px;
}

.head__link {
  text-decoration: none;
  color: rgb(227, 227, 227);
  text-transform: uppercase;
}

.biryuzovyy {
  color: #30d5c8;
}

.head__container2 {
  height: 90%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.head__container2 > * {
  margin: 10px 0;
}

.head__container2 span {
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
}

.head__container2 p {
  color: rgb(201, 201, 201);
}

.name__container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(83, 83, 83);
}

.name__container span {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.name__container img {
  width: 100px;
  margin-top: 15px;
}

.grids {
  width: 90%;
  display: grid;
  justify-items: center;
  margin: 0 auto;
}

.grid__fit {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grids > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 300px;
}

.grids img {
  width: 50px;
}

.grids span {
  padding: 20px 0 10px;
  color: rgb(83, 83, 83);
  font-weight: bold;
  font-size: 1rem;
}

.grids p {
  text-align: center;
  color: rgb(115, 115, 115);
  font-size: 0.8rem;
}

.quotes__wrapper {
  height: 300px;
  background: url(img/bg-4.jpg) no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: soft-light;
  color: white;
}

.quotes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  max-width: 60%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.quotes img {
  height: 30px;
}

blockquote {
  color: rgb(206, 206, 206);
  font-size: 0.8rem;
}

blockquote p:last-of-type {
  padding-top: 20px;
  color: #30d5c8;
  font-weight: bold;
}

.slider {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.slider > div {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.slide {
  background-color: rgb(86, 90, 82);
}

.slide__center {
  background-color: rgb(134, 150, 145);
}

.form {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input > div {
  display: inline-block;
  min-width: 48%;
}

.input input {
  height: 30px;
  width: 100%;
}

.form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.text textarea {
  height: 100px;
  width: 100%;
  resize: none;
}

.contact__bottom {
  min-height: 150px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgb(115, 115, 115);
  font-size: 0.8rem;
}

footer {
  background-color: rgba(247, 247, 247);
  text-align: center;
}

.footer__container {
  width: 90%;
  display: grid;
  justify-items: center;
  margin: 0 auto;
}

.footer__container > div {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 25%;
}

.footer__container span {
  text-transform: uppercase;
  color: rgb(83, 83, 83);
  font-weight: bold;
}

.footer__container p {
  margin: 10px 0 20px;
  color: rgb(115, 115, 115);
  font-size: 0.8rem;
}

.social__bar {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 15%;
}

.social__bar div {
  height: 45px;
  width: 45px;
  border: 1px solid rgb(231, 235, 239);
  border-radius: 50%;
}

.social__bar img {
  width: 60%;
  position: relative;
  top: 20%;
}

.copyright {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  background-color: black;
  color: rgb(115, 115, 115);
  font-size: 0.8rem;
}

button {
  background-color: #30d5c8;
  border-radius: 3px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 767px) {
  .head__burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
  }

  .head__burger span {
    background-color: white;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    top: 9px;
  }

  .head__burger::before,
  .head__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
  }

  .head__burger::before {
    top: 0;
  }

  .head__burger::after {
    bottom: 0;
  }

  .head__menu {
    display: none;
  }

  .grids {
    width: 100%;
  }

  .footer__container {
    width: 100%;
  }
}
